/*
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
---------------------------------------------------------------------
This set of fonts are used in this project under the license: (G35LF)
---------------------------------------------------------------------
*/

@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "nassim-bold";
	src: url("../fonts/nassim-bold.eot?#") format('eot'), url('../fonts/nassim-bold.woff') format('woff'),url('../fonts/nassim-bold.ttf') format('truetype');
}
@font-face {
	font-family:"IRANSans";
	src:url("../fonts/IRANSans.eot");
	src:url("../fonts/IRANSans.eot?#iefix") format("eot"),url("../fonts/IRANSans.woff2") format("woff2"),url("../fonts/IRANSans.woff") format("woff"),url("../fonts/IRANSans.ttf") format("ttf");
}
@font-face {
    font-family: 'icons';
    src:    url('../fonts/icons.eot');
    src:    url('../fonts/icons.eot#iefix') format('embedded-opentype'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vom:before {
    content: "\e901";
}
.icon-qaflan:before {
    content: "\e900";
}
.icon-home:before {
    content: "\e902";
}
.icon-images:before {
    content: "\e903";
}
.icon-profile:before {
    content: "\e904";
}
.icon-posts:before {
    content: "\e905";
}
.icon-phone:before {
    content: "\e906";
}
.icon-location:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
}
.icon-users:before {
    content: "\e909";
}
.icon-user-check:before {
    content: "\e90a";
}
.icon-earth:before {
    content: "\e90b";
}
.icon-share:before {
    content: "\e90c";
}
.icon-google-plus:before {
    content: "\e90d";
}
.icon-facebook:before {
    content: "\e90e";
}
.icon-instagram:before {
    content: "\e90f";
}
.icon-telegram:before {
    content: "\e910";
}
.icon-twitter:before {
    content: "\e911";
}
.icon-rss:before {
    content: "\e912";
}
.icon-wikipedia:before {
    content: "\e913";
}
.icon-linkedin:before {
    content: "\e914";
}
.dropdown-menu, .form-control, .btn {
   font-size: 12px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
	direction: rtl;
	font-family: IRANSans;
	font-size: 12px;
	padding-top: 40px;
	margin-bottom: 100px;
        line-height: normal;
}
a:link, a:visited {
	color: #004798;
}
a:hover, a:focus {
	color: #D40000;
	text-decoration: none;
	outline: none;
}
a.btn-default {
    color: #333;
}
table {
	margin: auto;
}
#header {
	height: 160px;
	background-color: #2b3f3b;
	background-position: center;
	background-size: cover;
	padding: 16px 30px 0;
}
#header div.logo {
	height: 100px;
	background: url(big-logo.png) no-repeat center / contain;
}
#header div.time {
	color: #fff;
	text-align: center;
	font-size: 9pt;
	margin-top: 11px;
}
#nav {
	position: relative;
	z-index: 0;
}
#nav .navbar-nav {
	margin: 0;
}
#nav .navbar-nav>li>a:hover, #nav .navbar-nav>li>a:focus {
	background: #e7e7e7;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}
.box {
	margin-bottom: 25px;
}
.box .title {
	background: url(bg_tabs.gif)  repeat-x;
	height: 36px;
}
.box .title h3 {
	font-size: 10pt;
	display: inline-block;
	background: #fff;
	padding: 5px 15px;
	margin: 0px 5px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid white;
	text-align: center;
	min-width: 110px;
}
.box .list {
	margin: 0;
	padding: 0;
	list-style-type: square;
	list-style-position: inside;
	color: #D40000;
}
.box .list li {
	margin-bottom: 5px;
}
.box .list li span {
	display: inline-block;
	font-size: 8pt;
	color: #999;
}
.dropdown-menu .glyphicon {
left: 8px;
}

@media screen and (min-width: 768px) {
	.col-sm-pull-6 {
		left: 50%;
		right: auto;
	}
}
@media screen and (max-width: 767px) {
	#header {
		background-position: 81% 50%;
	}
}